/* css styles */
/*@import url("https://api.fontshare.com/v2/css?f%5B%5D=archivo@100,101,400&f%5B%5D=clash-display@600,700&display=swap");
*/@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
font-family:"Inter",sans-serif; 
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    text-transform: none;
    font-family:'Roboto Mono',monospace;
    letter-spacing: 1px
}
.table th, .table td {
    padding: 0.5rem;
}
